################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/AnyCPU
/Tiny.Toolkits/obj
/Tiny.Toolkits.Wpf/obj
/.vs/Tiny.Toolkits/DesignTimeBuild
/.vs/Tiny.Toolkits/FileContentIndex
/.vs/Tiny.Toolkits/v17
/.vs/ProjectEvaluation
/WpfApp1.Test
