################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/AnyCPU
/Tiny.Toolkits/obj
/Tiny.Toolkits.Wpf/obj
/.vs/Tiny.Toolkits/DesignTimeBuild
/.vs/Tiny.Toolkits/FileContentIndex
/.vs/Tiny.Toolkits/v17
/.vs/ProjectEvaluation
/WpfApp1.Test
/ConsoleApp1/obj
/ConsoleApp1
/Tiny.Toolkits.WpfTests/bin
/Tiny.Toolkits.WpfTests/obj
/Tiny.ToolkitsTests/bin/Debug/net451
/Tiny.ToolkitsTests/obj
/Tiny.ToolkitsTests/bin/Release/net451
/Tiny.Toolkits.Android/bin/Debug/net7.0-android
/Tiny.Toolkits.Android/obj
/Tiny.Toolkits.Android/bin/Release/net7.0-android
